{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"labels\": [\"FallbackLabelName\", \"Need assignment\"]}"}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "PATCH", "uri": "https://api.github.com/repos/mi-pyt-ghia/budikpet/issues/120?per_page=50"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet/issues/120\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet/issues/120/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet/issues/120/comments\",\"events_url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet/issues/120/events\",\"html_url\":\"https://github.com/mi-pyt-ghia/budikpet/issues/120\",\"id\":506779247,\"node_id\":\"MDU6SXNzdWU1MDY3NzkyNDc=\",\"number\":120,\"title\":\"Dummy\",\"user\":{\"login\":\"budikpet\",\"id\":4062466,\"node_id\":\"MDQ6VXNlcjQwNjI0NjY=\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/4062466?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/budikpet\",\"html_url\":\"https://github.com/budikpet\",\"followers_url\":\"https://api.github.com/users/budikpet/followers\",\"following_url\":\"https://api.github.com/users/budikpet/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/budikpet/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/budikpet/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/budikpet/subscriptions\",\"organizations_url\":\"https://api.github.com/users/budikpet/orgs\",\"repos_url\":\"https://api.github.com/users/budikpet/repos\",\"events_url\":\"https://api.github.com/users/budikpet/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/budikpet/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1616038041,\"node_id\":\"MDU6TGFiZWwxNjE2MDM4MDQx\",\"url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet/labels/Need%20assignment\",\"name\":\"Need assignment\",\"color\":\"ededed\",\"default\":false},{\"id\":1668207327,\"node_id\":\"MDU6TGFiZWwxNjY4MjA3MzI3\",\"url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet/labels/FallbackLabelName\",\"name\":\"FallbackLabelName\",\"color\":\"ededed\",\"default\":false}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2019-10-14T17:20:18Z\",\"updated_at\":\"2019-11-10T11:06:39Z\",\"closed_at\":null,\"author_association\":\"MEMBER\",\"body\":\"Just dummy a issue :duck:\",\"closed_by\":null}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4995"], "X-RateLimit-Reset": ["1573384721"], "ETag": ["\"c0492d9f7500ccccdecf3a49198272cc\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/mi-pyt-ghia/budikpet/issues/120?per_page=50"}, "recorded_at": "2019-11-10T11:06:39"}, [...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/mi-pyt-ghia/budikpet/issues?per_page=50"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet/issues/120\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet/issues/120/labels{/name}\",[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repositories/215103171/issues?per_page=50&page=2&per_page=50"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet/issues/70\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/budikpet/issues/70/lab[...]
[...]
